<%-include("partials/header.ejs") %>
<div id="aboutPage">
    <div>
    <h1>About</h1>
    <p>This project was made to practice Node.js, Express.js and EJS. Here, you can make/view/update/delete posts.</p>
   </div>
</div>
<%-include("partials/footer.ejs") %>