<%-include("partials/header.ejs") %>
<div id="postMakePage">
   <form action="/post" method="POST">
    <label for="title">Title</label>
    <input name="title" type="text" class="post-iput" placeholder="20ch" minlength="3" maxlength="20" required/>
    <label for="text">Text</label>
    <textarea name="text" class="post-iput" placeholder="Post text..." required></textarea>
    <input type="submit" class="btn btn-success" value="POST" />
   </form> 
</div>
<%-include("partials/footer.ejs") %>