<%-include("partials/header.ejs") %>
<body>
   <form action="/post" method="POST">
    <input name="title" type="text" class="post-iput" placeholder="Post title" />
    <textarea name="text" class="post-iput" placeholder="Post text..."></textarea>
    <input type="submit" value="POST" />
   </form> 
</body>